fastapi==0.113.0
numpy==2.1.1
opencv_python==4.10.0.84
peewee==3.17.6
Pillow==10.4.0
PyAutoGUI==0.9.54
pydantic==2.9.0
pypinyin==0.52.0
pywin32==305.1
pyzbar==0.1.9
requests_html==0.10.0
selenium==4.24.0
win10toast==0.9
